<!-- Google Fonts -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,600;1,700&family=Roboto:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Work+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap" rel="stylesheet">




<section id="features" class="features section-bg">
{{ page.tab_slider }}
</section>





<!-----   If you are not getting theme please uncomment this ---->

<!--<section id="features" class="features section-bg">
  <div class="container" data-aos="fade-up">
    <div class="section-header">
      <h2>Lorem ipsum dolor. Ismet</h2>
      <p>Lorem ipsum dolor sit amet. consectetur adipisicing elit.</p>
    </div>
    <ul class="nav nav-tabs row  g-2 d-flex">
        <li class="nav-item col-4"><a class="nav-link active show" data-bs-toggle="tab" data-bs-target="#tab-1"><h4>Featured Conferences </h4></a></li>
          <li class="nav-item col-4"><a class="nav-link" data-bs-toggle="tab" data-bs-target="#tab-2"><h4>Recommended Conferences</h4></a>
          <li class="nav-item col-4"><a class="nav-link" data-bs-toggle="tab" data-bs-target="#tab-3"><h4>Past Conferences</h4></a></li>
        </ul>
		
		
    <div class="tab-content">
      <div class="tab-pane active show" id="tab-1">
        <div class="row">
          <div class="col-md-12">
            <div class="featured-carousel owl-carousel">
              <div class="item hoverimg">
                <div class="blog-entry"> <a href="#" class="block-20 d-flex align-items-start"> <img src="themes/drupaltest/assets/img/image_1.jpg">
                  <div class="meta-date text-center"> </div>
                  <span class="free">Free</span> </a>
                  <div class="text border-top-0">
                    <h3 class="heading"><a href="#">Southampton Industries Conference 2016</a></h3>
                    <p><span class="fa fa-tags" aria-hidden="true"> </span> Management, Leadership</p>
                    <p><span class="fa fa-calendar" aria-hidden="true"> </span> 11 May 2016</p>
                    <p><span class="fa fa-map-marker text-danger" aria-hidden="true"> </span> Park Plaza Hotel, Bangalore, India</p>
                  </div>
                </div>
                <div class="ft-box1">
                  <div class="d-flex align-items-center ft-box">
                    <div><a href="#" class=""><span class="fa fa-heart-o" aria-hidden="true"> </span></a></div>
                    <div><a href="#" class=""><span class="fa fa-cloud-download" aria-hidden="true"> </span></a></div>
                    <div><a href="#" class=""><span class="fa fa-share-alt" aria-hidden="true"> </span></a></div>
                    <div class="ml-auto"><a href="#" class="mr-2">View More</a></div>
                  </div>
                </div>
              </div>
              <div class="item hoverimg">
                <div class="blog-entry"> <a href="#" class="block-20 d-flex align-items-start"> <img src="themes/drupaltest/assets/img/image_2.jpg" alt="Conference Slide Image 002">
                  <div class="meta-date text-center"> </div>
                  <span class="free">&#8377; 2349</span> </a>
                  <div class="text border-top-0">
                    <h3 class="heading"><a href="#">Southampton Industries Conference 2016</a></h3>
                    <p><span class="fa fa-tags" aria-hidden="true"> </span> Management, Leadership</p>
                    <p><span class="fa fa-calendar" aria-hidden="true"> </span> 11 May 2016</p>
                    <p><span class="fa fa-map-marker text-danger" aria-hidden="true"> </span> Park Plaza Hotel, Bangalore, India</p>
                  </div>
                </div>
                <div class="ft-box1">
                  <div class="d-flex align-items-center ft-box">
                    <div><a href="#" class=""><span class="fa fa-heart-o" aria-hidden="true"> </span></a></div>
                    <div><a href="#" class=""><span class="fa fa-cloud-download" aria-hidden="true"> </span></a></div>
                    <div><a href="#" class=""><span class="fa fa-share-alt" aria-hidden="true"> </span></a></div>
                    <div class="ml-auto"><a href="#" class="mr-2">View More</a></div>
                  </div>
                </div>
              </div>
              <div class="item hoverimg">
                <div class="blog-entry"> <a href="#" class="block-20 d-flex align-items-start"> <img src="themes/drupaltest/assets/img/image_3.jpg" alt="Conference Slide Image 002">
                  <div class="meta-date text-center"> </div>
                  <span class="free">&#8377; 1499</span> </a>
                  <div class="text border-top-0">
                    <h3 class="heading"><a href="#">Southampton Industries Conference 2016</a></h3>
                    <p><span class="fa fa-tags" aria-hidden="true"> </span> Management, Leadership</p>
                    <p><span class="fa fa-calendar" aria-hidden="true"> </span> 11 May 2016</p>
                    <p><span class="fa fa-map-marker text-danger" aria-hidden="true"> </span> Park Plaza Hotel, Bangalore, India</p>
                  </div>
                </div>
                <div class="ft-box1">
                  <div class="d-flex align-items-center ft-box">
                    <div><a href="#" class=""><span class="fa fa-heart-o" aria-hidden="true"> </span></a></div>
                    <div><a href="#" class=""><span class="fa fa-cloud-download" aria-hidden="true"> </span></a></div>
                    <div><a href="#" class=""><span class="fa fa-share-alt" aria-hidden="true"> </span></a></div>
                    <div class="ml-auto"><a href="#" class="mr-2">View More</a></div>
                  </div>
                </div>
              </div>
              <div class="item hoverimg">
                <div class="blog-entry"> <a href="#" class="block-20 d-flex align-items-start"> <img src="themes/drupaltest/assets/img/image_3.jpg" alt="Conference Slide Image 002">
                  <div class="meta-date text-center"> </div>
                  <span class="free">&#8377; 2349</span> </a>
                  <div class="text border-top-0">
                    <h3 class="heading"><a href="#">Southampton Industries Conference 2016</a></h3>
                    <p><span class="fa fa-tags" aria-hidden="true"> </span> Management, Leadership</p>
                    <p><span class="fa fa-calendar" aria-hidden="true"> </span> 11 May 2016</p>
                    <p><span class="fa fa-map-marker text-danger" aria-hidden="true"> </span> Park Plaza Hotel, Bangalore, India</p>
                  </div>
                </div>
                <div class="ft-box1">
                  <div class="d-flex align-items-center ft-box">
                    <div><a href="#" class=""><span class="fa fa-heart-o" aria-hidden="true"> </span></a></div>
                    <div><a href="#" class=""><span class="fa fa-cloud-download" aria-hidden="true"> </span></a></div>
                    <div><a href="#" class=""><span class="fa fa-share-alt" aria-hidden="true"> </span></a></div>
                    <div class="ml-auto"><a href="#" class="mr-2">View More</a></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="tab-pane slider2" id="tab-2">
        <div class="row">
          <div class="col-md-12">
            <div class="featured-carousel owl-carousel">
              <div class="item hoverimg">
                <div class="blog-entry"> <a href="#" class="block-20 d-flex align-items-start"> <img src="themes/drupaltest/assets/img/image_1.jpg" alt="Conference Slide Image 002">
                  <div class="meta-date text-center"> </div>
                  <span class="free">&#8377; 2349</span> </a>
                  <div class="text border-top-0">
                    <h3 class="heading"><a href="#">Southampton Industries Conference 2016</a></h3>
                    <p><span class="fa fa-tags" aria-hidden="true"> </span> Management, Leadership</p>
                    <p><span class="fa fa-calendar" aria-hidden="true"> </span> 11 May 2016</p>
                    <p><span class="fa fa-map-marker text-danger" aria-hidden="true"> </span> Park Plaza Hotel, Bangalore, India</p>
                  </div>
                </div>
                <div class="ft-box1">
                  <div class="d-flex align-items-center ft-box">
                    <div><a href="#" class=""><span class="fa fa-heart-o" aria-hidden="true"> </span></a></div>
                    <div><a href="#" class=""><span class="fa fa-cloud-download" aria-hidden="true"> </span></a></div>
                    <div><a href="#" class=""><span class="fa fa-share-alt" aria-hidden="true"> </span></a></div>
                    <div class="ml-auto"><a href="#" class="mr-2">View More</a></div>
                  </div>
                </div>
              </div>
              <div class="item hoverimg">
                <div class="blog-entry"> <a href="#" class="block-22 d-flex align-items-start"> <img src="themes/drupaltest/assets/img/image_22.jpg" alt="Conference Slide Image 002"> </a>
                  <div class="text border-top-0">
                    <h3 class="heading"><a href="#">Southampton Industries Conference 2016</a></h3>
                    <p><span class="fa fa-tags" aria-hidden="true"> </span> Management, Leadership</p>
                    <p><span class="fa fa-calendar" aria-hidden="true"> </span> 11 May 2016</p>
                    <p><span class="fa fa-map-marker text-danger" aria-hidden="true"> </span> Park Plaza Hotel, Bangalore, India</p>
                  </div>
                </div>
                <div class="ft-box1">
                  <div class="d-flex align-items-center ft-box">
                    <div><a href="#" class=""><span class="fa fa-heart-o" aria-hidden="true"> </span></a></div>
                    <div><a href="#" class=""><span class="fa fa-cloud-download" aria-hidden="true"> </span></a></div>
                    <div><a href="#" class=""><span class="fa fa-share-alt" aria-hidden="true"> </span></a></div>
                    <div class="ml-auto"><a href="#" class="mr-2">View More</a></div>
                  </div>
                </div>
              </div>
              <div class="item hoverimg">
                <div class="blog-entry"> <a href="#" class="block-20 d-flex align-items-start"> <img src="themes/drupaltest/assets/img/image_3.jpg" alt="Conference Slide Image 002">
                  <div class="meta-date text-center"> </div>
                  <span class="free">Free</span> </a>
                  <div class="text border-top-0">
                    <h3 class="heading"><a href="#">Southampton Industries Conference 2016</a></h3>
                    <p><span class="fa fa-tags" aria-hidden="true"> </span> Management, Leadership</p>
                    <p><span class="fa fa-calendar" aria-hidden="true"> </span> 11 May 2016</p>
                    <p><span class="fa fa-map-marker text-danger" aria-hidden="true"> </span> Park Plaza Hotel, Bangalore, India</p>
                  </div>
                </div>
                <div class="ft-box1">
                  <div class="d-flex align-items-center ft-box">
                    <div><a href="#" class=""><span class="fa fa-heart-o" aria-hidden="true"> </span></a></div>
                    <div><a href="#" class=""><span class="fa fa-cloud-download" aria-hidden="true"> </span></a></div>
                    <div><a href="#" class=""><span class="fa fa-share-alt" aria-hidden="true"> </span></a></div>
                    <div class="ml-auto"><a href="#" class="mr-2">View More</a></div>
                  </div>
                </div>
              </div>
              <div class="item hoverimg">
                <div class="blog-entry"> <a href="#" class="block-20 d-flex align-items-start"> <img src="themes/drupaltest/assets/img/image_3.jpg" alt="Conference Slide Image 002">
                  <div class="meta-date text-center"> </div>
                  <span class="free">&#8377;1499</span> </a>
                  <div class="text border border-top-0">
                    <h3 class="heading"><a href="#">Southampton Industries Conference 2016</a></h3>
                    <p><span class="fa fa-tags" aria-hidden="true"> </span> Management, Leadership</p>
                    <p><span class="fa fa-calendar" aria-hidden="true"> </span> 11 May 2016</p>
                    <p><span class="fa fa-map-marker text-danger" aria-hidden="true"> </span> Park Plaza Hotel, Bangalore, India</p>
                  </div>
                </div>
                <div class="ft-box1">
                  <div class="d-flex align-items-center ft-box">
                    <div><a href="#" class=""><span class="fa fa-heart-o" aria-hidden="true"> </span></a></div>
                    <div><a href="#" class=""><span class="fa fa-cloud-download" aria-hidden="true"> </span></a></div>
                    <div><a href="#" class=""><span class="fa fa-share-alt" aria-hidden="true"> </span></a></div>
                    <div class="ml-auto"><a href="#" class="mr-2">View More</a></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="tab-pane" id="tab-3">
        <div class="row">
          <div class="col-md-12">
            <div class="featured-carousel owl-carousel">
              <div class="item hoverimg">
                <div class="blog-entry"> <a href="#" class="block-20 d-flex align-items-start"> <img src="themes/drupaltest/assets/img/image_1.jpg" alt="Conference Slide Image 002">
                  <div class="meta-date text-center"> </div>
                  <span class="free">Free</span> </a>
                  <div class="text border-top-0">
                    <h3 class="heading"><a href="#">Southampton Industries Conference 2016</a></h3>
                    <p><span class="fa fa-tags" aria-hidden="true"> </span> Management, Leadership</p>
                    <p><span class="fa fa-calendar" aria-hidden="true"> </span> 11 May 2016</p>
                    <p><span class="fa fa-map-marker text-danger" aria-hidden="true"> </span> Park Plaza Hotel, Bangalore, India</p>
                  </div>
                </div>
                <div class="ft-box1">
                  <div class="d-flex align-items-center ft-box">
                    <div><a href="#" class=""><span class="fa fa-heart-o" aria-hidden="true"> </span></a></div>
                    <div><a href="#" class=""><span class="fa fa-cloud-download" aria-hidden="true"> </span></a></div>
                    <div><a href="#" class=""><span class="fa fa-share-alt" aria-hidden="true"> </span></a></div>
                    <div class="ml-auto"><a href="#" class="mr-2">View More</a></div>
                  </div>
                </div>
              </div>
              <div class="item hoverimg">
                <div class="blog-entry"> <a href="#" class="block-20 d-flex align-items-start"> <img src="themes/drupaltest/assets/img/image_2.jpg" alt="Conference Slide Image 002">
                  <div class="meta-date text-center"> </div>
                  <span class="free">&#8377; 2349</span> </a>
                  <div class="text border-top-0">
                    <h3 class="heading"><a href="#">Southampton Industries Conference 2016</a></h3>
                    <p><span class="fa fa-tags" aria-hidden="true"> </span> Management, Leadership</p>
                    <p><span class="fa fa-calendar" aria-hidden="true"> </span> 11 May 2016</p>
                    <p><span class="fa fa-map-marker text-danger" aria-hidden="true"> </span> Park Plaza Hotel, Bangalore, India</p>
                  </div>
                </div>
                <div class="ft-box1">
                  <div class="d-flex align-items-center ft-box">
                    <div><a href="#" class=""><span class="fa fa-heart-o" aria-hidden="true"> </span></a></div>
                    <div><a href="#" class=""><span class="fa fa-cloud-download" aria-hidden="true"> </span></a></div>
                    <div><a href="#" class=""><span class="fa fa-share-alt" aria-hidden="true"> </span></a></div>
                    <div class="ml-auto"><a href="#" class="mr-2">View More</a></div>
                  </div>
                </div>
              </div>
              <div class="item hoverimg">
                <div class="blog-entry"> <a href="#" class="block-20 d-flex align-items-start"> <img src="themes/drupaltest/assets/img/image_3.jpg" alt="Conference Slide Image 002">
                  <div class="meta-date text-center"> </div>
                  <span class="free">Free</span> </a>
                  <div class="text border-top-0">
                    <h3 class="heading"><a href="#">Southampton Industries Conference 2016</a></h3>
                    <p><span class="fa fa-tags" aria-hidden="true"> </span> Management, Leadership</p>
                    <p><span class="fa fa-calendar" aria-hidden="true"> </span> 11 May 2016</p>
                    <p><span class="fa fa-map-marker text-danger" aria-hidden="true"> </span> Park Plaza Hotel, Bangalore, India</p>
                  </div>
                </div>
                <div class="ft-box1">
                  <div class="d-flex align-items-center ft-box">
                    <div><a href="#" class=""><span class="fa fa-heart-o" aria-hidden="true"> </span></a></div>
                    <div><a href="#" class=""><span class="fa fa-cloud-download" aria-hidden="true"> </span></a></div>
                    <div><a href="#" class=""><span class="fa fa-share-alt" aria-hidden="true"> </span></a></div>
                    <div class="ml-auto"><a href="#" class="mr-2">View More</a></div>
                  </div>
                </div>
              </div>
              <div class="item hoverimg">
                <div class="blog-entry"> <a href="#" class="block-20 d-flex align-items-start"> <img src="themes/drupaltest/assets/img/image_3.jpg" alt="Conference Slide Image 002">
                  <div class="meta-date text-center"> </div>
                  <span class="free">Free</span> </a>
                  <div class="text border-top-0">
                    <h3 class="heading"><a href="#">Southampton Industries Conference 2016</a></h3>
                    <p><span class="fa fa-tags" aria-hidden="true"> </span> Management, Leadership</p>
                    <p><span class="fa fa-calendar" aria-hidden="true"> </span> 11 May 2016</p>
                    <p><span class="fa fa-map-marker text-danger" aria-hidden="true"> </span> Park Plaza Hotel, Bangalore, India</p>
                  </div>
                </div>
                <div class="ft-box1">
                  <div class="d-flex align-items-center ft-box">
                    <div><a href="#" class=""><span class="fa fa-heart-o" aria-hidden="true"> </span></a></div>
                    <div><a href="#" class=""><span class="fa fa-cloud-download" aria-hidden="true"> </span></a></div>
                    <div><a href="#" class=""><span class="fa fa-share-alt" aria-hidden="true"> </span></a></div>
                    <div class="ml-auto"><a href="#" class="mr-2">View More</a></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>-->

